.header{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.logo{
    width: 120px;
    height: 120px;
}

.navbar{
    display: flex;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
}
.login-btn{
    height: fit-content;
    padding: 10px;
    margin: 10px 0px;
    font-size: 20px;
    cursor: pointer;
}

.search{
    margin: 10px;
    padding: 5px;
}
.search-input{
    margin: 10px 0px;
    padding: 4px;
}
.input-btn{
    margin: 5px;
    padding: 5px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}

.res-card{
    width: 250px;
    padding: 5px;
    margin: 10px;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.res-logo{
    width: 100%;
    height: 50%;
}
.res-name{
    font-weight: bold;
    font-size: larger;
    height: 10%;
}
.res-cuisines{
    font-size: medium;
    height: 10%;
}
.res-details > div{
    display: inline;
    padding: 5px;
}
.res-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height:8%;
}
.res-details > div:first-child{
    background-color: green;
    margin: 5px;
    color: white;
    padding: 3px;
}

.res-name , .res-cuisines , .res-details{
    padding: 7px;
    margin:5px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}
.shimmer-card{
    width: 250px;
    height: 400px;
    padding: 5px;
    margin: 10px;
    background-color: #f0f0f0;
}