.header{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.logo{
    width: 120px;
    height: 120px;
}

.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
}

.search{
    margin: 10px;
    padding: 5px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}

.res-card{
    width: 250px;
    height: 350px;
    padding: 5px;
    margin: 5px;
}
.res-card:hover{
    border: 1px solid black;
}
.res-logo{
    width: 100%;
}